.mat-card-header{
    font-family: Quicksand;
    font-weight: 200;
    font-size: 10pt;
    margin: 0%;
    width: 100%;
    text-align: center;
}

.mat-card{
    margin: 5%;
}

.mat-card-content{
    font-family: Quicksand;
    font-weight: 200;
    font-size: 16pt;
    margin: 0%;
    width: 100%;
    text-align: center;
}