.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  text-align: justify;
}

body {
  background-color: slategray;
}

mat-icon{
  margin-left: 32%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

span{
  margin-left: 36%;
}

.mat-toolbar{
  text-align: center;
}

.mat-nav-list{
  text-align: left;
}

a{
  color: aquamarine;
}
