h1 {
    font-family: Quicksand;
    font-size: 22pt;
    font-weight: 200;
    text-align: center;
    margin-top: 10%;
    color: white;
    
}

h5 {
    font-family: Quicksand;
    font-size: 16pt;
    font-weight: 200;
    text-align: center;
    margin-top: 1%;
    color: white;
}