<ul>
  <li>ID: {{ service._id }}</li>
  <li>Password Reset Selected:  {{ service.password_reset  }}</li>
  <li>Spyware Removal Selected:  {{service.spyware_removal}}</li>
  <li>Ram Upgrade Selected:  {{service.ramUpgrade}}</li>
  <li>Software Install Selected:  {{service.software_install}}</li>
  <li>Tune Up Selected:  {{service.tuneUp}}</li>
  <li>Keyboard Cleaning Selected:  {{service.keyboardClean}}</li>
  <li>Disk Clean Up Selected:  {{service.diskClean}}</li>
  <li>Order Total: ${{service.order_total}}.00</li>
</ul>
