<app-navbar></app-navbar>
<mat-card>
  <h3>Invoice Receipt</h3>
<ul>
  <li>ID: {{ service._id }}</li><br>
  <li>Password Reset Selected: {{ service.password_reset }}</li><br>
  <li>Spyware Removal Selected: {{service.spyware_removal}}</li><br>
  <li>Ram Upgrade Selected: {{service.ramUpgrade}}</li><br>
  <li>Software Install Selected: {{service.software_install}}</li><br>
  <li>Tune Up Selected: {{service.tuneUp}}</li><br>
  <li>Keyboard Cleaning Selected: {{service.keyboardClean}}</li><br>
  <li>Disk Clean Up Selected: {{service.diskClean}}</li><br>
  <li>Order Total: ${{service.order_total * 10}}.00</li><br>
</ul>
</mat-card>