<app-navbar></app-navbar>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user._id }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let user">{{ user.address }}</td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let user">
      <button color="accent" mat-icon-button [routerLink]="['/user-edit', user._id]">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let user">
      <button color="warn" mat-icon-button (click)="onDelete(user._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-raised-button color="accent" [routerLink]="['/user-create']">New User</button>


<!--<button mat-raised-button [routerLink]="['/user-create']">New User</button>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>Functions</th>
  </tr>
  <tbody *ngFor="let user of users">
  <tr>
    <td>{{ user._id }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.address }}</td>
    <td>
      <button mat-icon-button [routerLink]="['/user-edit', user._id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="onDelete(user._id)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </tr>
  </tbody>
</table>
-->