<side-nav>
        <mat-card class="contact-container">
                <div class="us-container">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Contact Us</h1>
                    </mat-card-title>
                    <br><br/>
                </mat-card-header>
                <mat-card-content>
                    Address:  6633 Troost Avenue<br>
                              Central City,  MO 64108<br>
                    Phone No:  1-816-262-7277
                              <br>
                    E-mail:   <a href="mailto:bobscrs@email.com">bobscrs@email.com</a>


                
                </mat-card-content>
        
            </div>
            </mat-card>








</side-nav>