<side-nav>
<div class="wrapper" color="accent">
  <div class="frm-login">
    <mat-card class="login-panel frm-login-panel">
      <mat-card-header class="frm-login-header">
      </mat-card-header>

      <mat-card-content class="frm-login-body" color="accent">
        <mat-form-field>
          <input type="text" matInput placeholder="Username" color="accent">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
        <br><br/>
          <button routerLink = "/forgot-password" mat-raised-button class="btn-forgot">Forgot Password</button>
      </mat-card-content>
  
      <mat-card-actions class="frm-login-actions">
        <button mat-raised-button class="btn-cancel">Cancel</button>
        <button routerLink = "/user-management" mat-raised-button class="btn-login">Sign In</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</side-nav>