<app-navbar></app-navbar>
<!-- <div *ngFor="let data of aggregates">
<ul>
  <li>Total amount sold: ${{ data.total }}.00</li>
</ul>
</div>

<ul>
  <li>{{aggregate.total}}</li>
</ul> -->

<mat-card class="graph-background">
<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    
  </div>
</mat-card>