<mat-toolbar color="primary">

  <button mat-button [routerLink]="['/users']">Users</button>

  <button mat-button [routerLink]="['/about-us']">About Us</button>

  <button mat-button [routerLink]="['/contact-us']">Contact Us</button>

  <!-- User profile menu -->
  <button [matMenuTriggerFor]="user" color="none" mat-icon-button class="ml-xs">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #user="matMenu" x-position="before">

    <button color="primary" [routerLink]="['/questionnaire']" mat-menu-item>
      <mat-icon>question_answer</mat-icon>
      Update Security Questions
    </button>
    <button [routerLink]="['/user-create']" mat-menu-item>
      <mat-icon>person_add</mat-icon>
      Register Account
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>

  </mat-menu>

</mat-toolbar>